@model Blog.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Eat Pray Garden";
}

<style>
    
</style>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 hero-section">
        <div class="col-12 col-lg-6">
            <h2 class="display-5 fw-bold lh-1 mb-3">
                @* <i style="font-weight: 400;">Eat Pray Garden</i> *@<span style="font-weight: 300;"><br />Blogs Vlogs and Everything in Between</span>
            </h2>
            <p class="lead">
                The intended direction of Eat Pray Garden is to be a happy place 
                for all plant lovers, moms, dads, dogs etc. Like or comment on any 
                post your heart desires, I'd love to hear from you.
            </p>
        </div>

        <div class="col-12 col-lg-6 homepage-img">
            <img class="d-block mx-lg-auto img-fluid" @* style="width: 40em;" *@src="/homepage-img.JPG" alt="" />
        </div>
    </div>
</div>

@* <div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex">

            @if (Model != null)
            {
                @foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">
                        @tag.Name
                    </span>
                }
            }

        </div>
    </div>
</div> *@

<hr style="color: #f0f0f0;"/>

<div class="container">
    <div class="row justify-content-center blogs-home-container">
        <div class="col-md-6">
            
            @if(Model != null && Model.BlogPosts.Any())
            {
                foreach (var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow p-4 rounded-2">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading"
                            class="mb-2 d-block img-fluid">
                        <h2 class="mb-4">@blogPost.Heading</h2>
                        <p class="mb-3">
                            Author: @blogPost.Author
                            <br>
                            Published Date: @blogPost.PublishedDate.ToShortDateString()
                        </p>

                        <div class="mb-3">
                            
                        </div>

                        <p class="mb-3">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-3">@blogPost.ShortDescription</p>

                        <a class="btn btn-dark" 
                            asp-area="" 
                            asp-controller="Blogs"
                            asp-action="Index"
                            asp-route-urlHandle="@blogPost.UrlHandle">
                            Read More &rarr;
                        </a>
                    </div>
                }
            }

        </div>
    </div>
</div>
